*{
    padding: 0;
    margin: 0;
}

.info_div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#your-acc{
    padding-bottom: 0.5em;
}

.info_form{
    background-color: #212529;
    color: #fffaf1;
    border-radius: 10px;
}