<br>
<footer class="bg-dark text-light py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Contact Us</h5>
                <p>Email: team2@gmail.com</p>
                <p>Phone: +201010001000</p>
                <p>Address: 123 haram St., Giza, Egypt</p>
            </div>
            <div class="col-md-6">
                <h5>Quick Links</h5>
                <ul class="list-unstyled footer-list">
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Categories</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12 text-center">
                <p>&copy; 2024 iti students team 2. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>